<div id="main-wrapper">
    <app-headbar></app-headbar>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <app-breadcrumbs></app-breadcrumbs>
            <router-outlet></router-outlet>

        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer">
            © 2020 Connect V5 by Gerocyte.com
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
</div>